/*
Navbar
*/
.bg-light {
    background-color: #fff !important;
}
#logo{
  max-height:85px;
}
/*
Typography
*/
.display-4{
  text-transform: uppercase;
}
/*
Forms
*/
form{
  margin-top:20px;
}

/*
Footer
*/

footer {
    position: fixed;
    height: 100px;
    padding-top:40px;
    bottom: 0;
    width: 100%;
    background:#E67D2E;
    color:#fff;
}
